# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.idea/
.vscode/
*.iml

# Secrets
.env
*.env